@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');





*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html{
    scroll-behavior: smooth;
}

#navbar{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    padding: 50px;
}
#navbar ul{
    display: flex;

}
#navbar ul li{
    margin: 20px 20px;
    list-style-type: none;
    
    
}
#navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 21px;
    padding: 5px 5px;
    
}

#navbar ul li a:hover{
    background-color: white;
    color: black;
    border: solid 2px transparent;
    border-radius: 5px;
}



@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/

    .project-tile{
        display: flex;
        /* flex-wrap: nowrap; */
        justify-content: space-around;
        max-width: 100%;
        /* flex-basis: 50%; */
    
    
    }
    .project{
        /* background-color: gold; */
        /* height: 300px; */
        /* text-align: center; */
        /* max-width: 100%; */
        /* margin: 20px 20px; */
        /* width: 25%; */
        background-image: url(/images/);
        border: solid 2px transparent;
        border-radius: 8px;
    }
    
}




/* welcome section */


#welcome-section{
    background-color: #0a0c0f;
    color: white;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    padding-top: 65vh;
    padding-bottom: 35vh;
    
    

}


#welcome-section > p{
    text-align: center;
    margin: 5px;
    padding-bottom: 20vh;
    font-size: 20px;
    max-width: 700px;
}
/* styling dp */
#welcome-section > div > img{
    border-radius: 700px;
    height: 25vh;
}

/* styling dp ends here */

.fa-stack-overflow, .fa-linkedin, .fa-github, .fa-envelope{
    color: rgb(224, 186, 104);
}

/* styling main  */


main{
    background-color: black;
    padding: 90px ;
}

section{
    padding: 20px 20px;
    font-size: 30px;
    color: white;
}

section > h1{
    border-bottom:  white 2px solid;
}


/* summary widget styling */
codersrank-summary{
    --bg-color: transparent;
    --badge-bg-color: #161616;
    --badge-text-color: #fff;
    --badges-padding: 0px;
    --badge-padding: 8px;
    --badge-margin: 16px;
    --badge-border-radius: 8px;
    --badge-rank-font-size: 16px;
    --badge-technology-font-size: 18px;
    --badge-location-font-size: 16px;
    --badge-icon-size: 32px;
    --badge-border: 1px solid rgba(0, 0, 0, 0.1);
    --badge-box-shadow: none;
    padding: 40px;
}

/* styling the widget */
codersrank-activity{
    padding: 40px;
    
}

/* styling projects */
codersrank-portfolio{
    padding: 80px;
    --grid-columns: 2;

    --item-bg-color: #161616;
    --item-border-radius: 8px;
    --item-spacing: 16px;
    --item-padding: 16px;
    --logo-size: 64px;
    --tag-bg-color: rgba(255,255,255,0.075);
    
    --link-text-color: green;
    --link-bg-color: rgba(255,255,255,0.1);
    --link-hover-bg-color: rgba(255,255,255,0.125);
    --link-active-bg-color: rgba(255,255,255,0.075);
    --link-border-radius: 8px;
    --link-padding: 4px 8px;
    --link-text-transform: none;
    --link-font-weight: 500;
    --link-margin: 8px;
    font-size: 15px;
}


/* work experience styling */
codersrank-work-experience{
    padding: 80px;
    --item-bg-color: #161616;
    --item-border-radius: 8px;
    --item-spacing: 16px;
    --item-padding: 16px;
    --logo-size: 90px;
    --tag-bg-color: rgba(255,255,255,0.075);
    font-size: 15px;
}


/* styling education */
codersrank-education{
    padding: 80px;
    --item-bg-color: #161616;
    --item-border-radius: 8px;
    --item-spacing: 16px;
    --item-padding: 16px;
    --logo-size: 90px;
    --tag-bg-color: rgba(255,255,255,0.075);
    font-size: 15px;
}

/* styling footer */
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
    padding-bottom: 100px;

}


body > footer > h1{
    font-size: 50px;
}
.contacts-footer{
    font-size: 40px;
}

/* making it responsive */
@media screen and (max-width: 800px){
    /* styling the main area */
    #welcome-section{
        height: 60vh;
    }


    /* picture */
    #welcome-section > div.dp > img{
        height: 25vh;
        /* margin-top: 25vh; */
        border-radius: 800px;
    }

    /* styling the title */
    #welcome-section > h1{
        font-size: 1.5em;
    }

    /* styling the tagline */
    #welcome-section > span{
        font-size: 0.4em;
        text-align: center;
        font-weight: bold;
    }

    /* styling the intro */
    #welcome-section > p {
        margin-top: 22px;
        font-size: 10px;
        
    }
}