
/* h1{
    background-color: aquamarine;
    text-align: center;
} */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#navbar{
    background-color: #BE3144;
    color: white;
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    align-items: center;
}
#navbar ul{
    display: flex;

}
#navbar ul li{
    margin: 20px 20px;
    list-style-type: none;
    
    
}
#navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 21px;
    padding: 5px 5px;
    
}

#navbar ul li a:hover{
    background-color: teal;
    color: white;
    border: solid 2px transparent;
    border-radius: 5px;
}

.project{
    background-color: gold;
    height: 300px;
    text-align: center;
    max-width: 100%;
    margin: 20px 20px;
    width: 25%;
}
@media (width: 900px){
    .project{
        background-color: gold;
        height: 300px;
        text-align: center;
        max-width: 100%;
        margin: 20px 20px;
       
    }
}

.project-tile{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    flex-basis: 33.333333%;


}
/* welcome section */


#welcome-section{
    background-color: #252628;
    color: white;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 30px;
    flex-direction: column;

}
